@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Regular.ttf); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  width: auto;
  position: relative;
  background: #ffffff;
  color: #717171;
  min-height: 100%;
  letter-spacing: 0.05em;
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; }

a {
  text-decoration: none; }
  a:hover, a :active {
    text-decoration: none;
    outline: none; }

h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
  letter-spacing: 0; }

h5 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.025em;
  margin-bottom: 21px; }

hr {
  border-top: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px rgba(255, 255, 255, 0.5); }

h2 {
  text-transform: uppercase; }

.odd {
  min-height: 500px;
  overflow: hidden; }

.cd-section:nth-child(odd) {
  border: 1px solid #f5f5f7;
  background-color: #FBFAFB; }

.bg-uno {
  background-color: #F26101 !important; }

.bg-dos {
  background-color: #FFFFFF !important; }

.bg-tres {
  background-color: #D9E8F5 !important; }

.bg-cuatro {
  background-color: #91BED4 !important; }

.bg-cinco {
  background-color: #304269 !important; }

.ctext-uno {
  color: #F26101 !important; }

.ctext-dos {
  color: #FFFFFF !important; }

.ctext-tres {
  color: #D9E8F5 !important; }

.ctext-cuatro {
  color: #91BED4 !important; }

.ctext-cinco {
  color: #304269 !important; }

.hint-text {
  color: #323237;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 7px; }

.textuno {
  font-size: 16px;
  font-size: 1.6rem !important;
  line-height: 25px; }

.textdos {
  font-size: 20px;
  font-size: 2rem !important;
  line-height: 29px; }

.texttres {
  font-size: 28px;
  font-size: 2.8rem !important;
  line-height: 36px; }

.textcuatro {
  font-size: 36px;
  font-size: 3.6rem !important;
  line-height: 46px; }

.textcinco {
  font-size: 52px;
  font-size: 5.2rem !important;
  line-height: 60px; }

.quick, span {
  font-family: "Quicksand", sans-serif; }

h6 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.2;
  color: #323237; }

.spacing {
  padding-top: 84px;
  padding-bottom: 84px; }

.spacingmini {
  padding-top: 42px;
  padding-bottom: 42px; }

.button {
  display: inline-block;
  height: 42px;
  line-height: 38.5px;
  padding: 0 28px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-align: center; }

.Subtitle {
  position: relative;
  font-size: 20px;
  color: #666666;
  line-height: 31.5px;
  text-transform: uppercase;
  letter-spacing: 0.085em;
  text-align: center;
  padding-bottom: 31.5px;
  margin-bottom: 35px; }

.Subtitle:before {
  position: absolute;
  display: block;
  content: " ";
  width: 40px;
  height: 3px;
  background-color: #F26101;
  left: 50%;
  margin-left: -20px;
  bottom: 0; }

span {
  color: #F26101; }

.center {
  text-align: center; }

body {
  background-color: white; }

header {
  background-image: url(../media/Empresa.jpg);
  height: 350px;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  header h2 {
    color: white; }

nav {
  padding: 5.6px 0;
  position: absolute;
  z-index: 99; }
  nav a {
    color: rgba(255, 255, 255, 0.75); }
    nav a:hover {
      color: white; }

#logo {
  font-weight: 400;
  text-transform: none; }

nav #ni3 {
  margin-top: 5px;
  display: inline-block;
  line-height: 38.5px;
  padding: 0 28px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-align: center;
  border: 1px solid white;
  color: white; }
  nav #ni3:hover {
    color: #F26101;
    background-color: white;
    border: 1px solid white; }
nav a {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  padding: 0 17.5px;
  line-height: 31.5px;
  height: 34px;
  outline: none; }
  nav a:hover {
    color: white; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  min-height: 350px;
  background-color: rgba(38, 49, 57, 0.55);
  overflow: hidden; }

.SlideText {
  position: relative;
  top: 33%; }

.col-sm-8 > p {
  color: black;
  text-align: center; }

.tabs {
  display: block;
  margin: 0; }

.tab-container {
  background-color: #475258; }

.tabs .tab-container ul {
  display: block;
  list-style-type: none;
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.15);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.15); }

.tabs .tab-container ul li {
  display: block;
  float: left;
  width: 33.33333%; }

.tabs .tab-container ul li a {
  display: block;
  text-align: center;
  padding: 63px 0;
  font-size: 18.4px;
  font-weight: 400;
  color: #ffffff;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15); }

.tabs .tab-container ul li a em {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75); }

.tabs .tab-container ul li a:hover {
  background-color: rgba(227, 0, 97, 0.65);
  background-color: rgba(242, 97, 1, 0.65);
  color: #fff; }

.tabs .tab-container ul li.active {
  position: relative; }

@media screen and (min-width: 480px) {
  .tabs .tab-container ul li.active {
    margin-top: -7px; }

  .tabs .tab-container ul li.active a {
    padding: 66.5px 0; } }
.tabs .tab-container ul li.active a:before {
  position: absolute;
  top: 0;
  left: -7px;
  content: " ";
  border-top: 7px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 7px solid #8c3801;
  border-left: none; }

.tabs .tab-container ul li.active a:after {
  position: absolute;
  top: 0;
  right: -7px;
  content: " ";
  border-top: 7px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 7px solid #8c3801;
  border-right: none; }

.tabs .tab-container ul li.active a {
  background-color: #F26101;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/*# sourceMappingURL=AboutUs.css.map */
