<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>Servlets.registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroA</servlet-name>
        <servlet-class>Servlets.registroA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroAlumno</servlet-name>
        <servlet-class>Servlets.RegistroAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlets.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rAlumno</servlet-name>
        <servlet-class>Servlets.rAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aHorarios</servlet-name>
        <servlet-class>Servlets.aHorarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rProfesor</servlet-name>
        <servlet-class>Servlets.rProfesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroA</servlet-name>
        <url-pattern>/registroA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroAlumno</servlet-name>
        <url-pattern>/RegistroAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rAlumno</servlet-name>
        <url-pattern>/rAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aHorarios</servlet-name>
        <url-pattern>/aHorarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rProfesor</servlet-name>
        <url-pattern>/rProfesor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
